<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cfgApiRestCotizador" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <cfgApiRestCotizador>
    <add key="localhost" value="http://localhost/cotizador/api"/>
    <add key="api_user" value="aprosi"/>
    <add key="api_password" value="cotizador"/>
    <add key="claveEF_empresa" value="100000205"/>
    <add key="api_key" value=""/>
  </cfgApiRestCotizador>
</configuration>